VITE_SUPABASE_URL=https://qfiuooahinioysfxnmki.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmaXVvb2FoaW5pb3lzZnhubWtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3OTcwMjksImV4cCI6MjEwMDM3MzAyOX0.qTje5ZPt3ISTNs5HoMtlABk8SBiV2DBAy-Z6Vhd9Ps4
